extends layout

block content
    .w3-card-4
        header(class="w3-container w3-teal")
            h3 Registo de Novo EMD

        form(class='w3-container' method='POST' action='/emd')
            input(class='w3-input w3-cell w3-border w3-border-large' type='text' name='dataExame' placeholder='Data de realização do EMD')
            input(class='w3-input w3-cell w3-border w3-border-large' type='text' name='nome' placeholder='Nome')
            label(class="w3-text-teal w3-cell") Género
            input(class='w3-radio' type='radio' name='genero' value='Masculino' checked)
            label Masculino
            input(class='w3-radio' type='radio' name='genero' value='Feminino')
            label Feminino
            input(class='w3-input w3-cell w3-border w3-border-large' type='text' name='dataNasc' placeholder='Data de nascimento')
            input(class='w3-input w3-cell w3-border w3-border-large' type='text' name='localidade' placeholder='Localidade')
            label(class="w3-text-teal w3-cell") Federado
            h5(class="w3-text-teal")
            input(class='w3-radio' type='radio' name='federado' value='true' checked)
            label Sim
            input(class='w3-radio' type='radio' name='federado' value='false')
            label Não
            input(class='w3-input w3-border w3-border-large' type='text' name='modalidade' placeholder='Modalidade')
            input(class='w3-input w3-border w3-border-large' type='text' name='clube' placeholder='Clube')
            input(class='w3-input w3-border w3-border-large' type='text' name='resultadoEMD' placeholder='Resultado do EMD')
            input(class='w3-input w3-border w3-border-large' type='text' name='exameComplementar' placeholder='Exame complementar')

            input(type='submit' class='w3-btn w3-teal' value='Adicionar')

        footer(class="w3-container w3-teal")
            address Gerado por EMD :: 2019-Dezembro, jcr
